<!DOCTYPE HTML>
<head>
	<title>RoxanneMango</title>
	<link rel="stylesheet" href="style.css">
	<meta content="width=device-width, initial-scale=1" name="viewport"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="includeHTML.js"></script>
</head>
<body>
	<a id="top"></a>

	<!-- page banner and navigation buttons -->
	<div data-include="header"></div>
	
	<div id="MainContent">
	
	<table width="100%">
		<tr>
			<td>
				<h3 style="margin-top: 1em;">Hello world!</h3>			
				<p>
					My name is Roxanne. I'm a programmer who likes making stuff. I once started programming
					in Python and sucked at it. Then I started programming in C and it all made sense.
					Nowadays my Python skills are decent, although C/C++ is still my goto language.
					<br/>
					Some of my favorite projects to work on are OS dev, netcode, and game development. Anything
					C/C++ related will spark joy, really. I like the language's simplicity and ability to 
					interface more closely to the hardware. Inline assembly is also pretty chill.
				</p>
				<p>
					My frontend skills are not the greatest, that is why the site looks like this. It reminds me
					of a terminal. It sparks joy. Below I'll showcase some of the things I have worked on over 
					the years. Projects are mainly written in C/C++, but I try to slip in the occasional
					Python and assembly code.
				</p>
			</td>
		</tr>
	</table>
	
	<hr style="margin-top: 2em;">
	<center><a href="#top">[ Back to top ]</a></center>

	</div>
	
</body>
</html>