<!DOCTYPE html>
<html lang="en-US">
	<header>
		<link rel="stylesheet" href="style.css">
	</header>

	<h3>Adkit toolchain</h3>
	<hr/>
	<img src="assets/adkit_makefile.png" style="width: 30em; height: auto; float:right; padding: 0 0 1em 1em;"/>
	<p>
					A cross-platform development toolchain (Windows and Linux) for the Arduino Due for lower level 
					development than the standard Arduino IDE allows. Contains the gcc C/C++ cross-compiler; the 
					flashing tool Bossac; and several C/C++/ASM examples.
	</p>
	<a href="https://github.com/RoxanneMango/adkit">[ link to the Github repository ]</a>
</html>