<!DOCTYPE html>
<html lang="en-US">
	<header>
		<link rel="stylesheet" href="style.css">
	</header>

	<h3>BlackJaC++ Webserver</h3>
	<hr/>
	<img src="assets/blackjack_pp_ui.png" style="width: 30em; height: auto; float:right; padding-left: 1em;"/>
	<p>
		A C++ webserver with a database and minimal frontend that allows you to play the game Blackjack 
		in the browser. The frontend consists of HTML/CSS/Javascript. The webserver code 
		is cross-platform: It works for both Windows and Linux.
	</p>
	<a href="https://github.com/RoxanneMango/CCP_WebServer">[ link to the Github repository ]</a>
	<img src="assets/blackjack_pp_db_cli.png" style="width: 20em; height: auto; float:left; padding: 1em 0;"/>
</html>