<!DOCTYPE html>
<html lang="en-US">
	<header>
		<link rel="stylesheet" href="style.css">
	</header>

	<h3>Breadboard Prototypes</h3>
	<hr/>
	<p>
		I created a lot of various hardware prototypes on breadboards over the years, like Registers / latches, etc
	</p>
	<img src="assets/photo_2022-06-09_16-02-42.jpg" style="width: 80%; height: auto; float:right; padding: 0.5em;"/>
	<img src="assets/photo_2022-06-09_16-02-43.jpg" style="width: 80%; height: auto; float:right; padding: 0.5em;"/>
	<img src="assets/photo_2019-11-26_23-10-24.jpg" style="width: 80%; height: auto; float:left; padding: 0.5em;"/>
	<img src="assets/photo_2022-06-09_16-02-43_.jpg" style="width: 80%; height: auto; float:left; padding: 0.5em;"/>

<!--	<pre class="code"><code class="code"></code></pre> -->
</html>
