<!DOCTYPE html>
<html lang="en-US">
	<header>
		<link rel="stylesheet" href="style.css">
	</header>

	<h3>FrankenPatch</h3>
	<hr/>
	<img src="assets/FrankenPatch_mainmenu.png" style="width: 30em; height: auto; float:right; padding: 1em 0 1em 1em;"/>
	<p>
		FrankenPatch is a top-down RPG C++ game originally created for the 2022 Cozy Autumn Game Jam on itch.io. The 
		game engine is made in conjunction with SFML for I/O handling and rendering.
		</br>
		Play as a character that gets transported during a thunder storm to a pumpkin field in a 
		doctor's backyard where you are assailed by ... zombies?! Uncover the town mystery 
		and find your way home, if you can!
	</p>
	<a href="https://github.com/RoxanneMango/FrankenPatch">[ link to the Github repository ]</a>
	</br>
	</br>
	<a href="https://roxannemango.itch.io/frankenpatch">[ FrankenPatch itch.io page ]</a>
	</br>
	</br>
	<a href="https://itch.io/jam/cozy-autumn-game-jam-2022">[ 2022 Cozy Autumn Game Jam ]</a>
	<hr>
	<img src="assets/FrankenPatch_ingame.png" style="width: 100%; height: auto; float:right; padding: 1em 0 1em 1em;"/>
	</br>
	<hr>
<!--
<--	<h4>Makefile:</h4>
<--
<--	<pre class="code"><code class="code">
<--	</code></pre>
-->
</html>
