<!DOCTYPE html>
<html lang="en-US">
	<header>
		<link rel="stylesheet" href="style.css">
	</header>

	<h3>Go Fish!</h3>
	<hr/>
	<p>
		You are a fish. You fish other fish. Everything is a fish and can be fished, including you!
		Emphasis on psychological horror. Choices have consequences.
	</p>
	<p>
		Utilizes simple geometric shapes together with shaders and procedurally generated textures 
		to create various atmospheres ranging from cozy to terrifying. The deeper you descent, the 
		darker it gets... What lurks in the depths?
	</p>
	<p>
		Fish in the reefs of the shallows or the brine pools in the deep abyss. Trade with the Moray Eel 
		shop keepers. Help Clown Fish Coorporation (CFC) to develop their housing projects of transplanting 
		more sea anemones. Upgrade your rod. Buy a house. Undergo plastic surgery for new features, colors 
		and patterns. Farm kelp. Adopt a nudibranch and name it Gary. 
		You can do it all.
	</p>
	<p>
		Go (,) Fish!
	</p>
	<img src="assets/horrorfish.jpg" style="width: 50em; height: auto; float:center; padding: 0.5em;"/>
</html>
