<!DOCTYPE html>
<html lang="en-US">
	<center>
		<h2>RoxanneMango</h2>
		<table id="NavigationTabMenu" align="center">
			<tr>
				<td><a class="blockhref" href="index.html">Home</a></td>
				<td><a class="blockhref" href="projects.html">Projects</a></td>
				<td><a class="blockhref" href="about.html">About</a></td>
				<td><a class="blockhref" href="https://card.roxannemango.net/" target="_blank">Contact</a></td>
				<td><a class="blockhref" href="misc.html">Misc</a></td>
			</tr>
		</table>
	</center>
</html>