<!DOCTYPE HTML>
<head>
	<title>RoxanneMango</title>	

	<link rel="stylesheet" href="style.css">
	<link rel="shortcut icon" type="image/x-icon" href="assets/pumpkin.ico">

	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<meta charset="UTF-8">
	<meta name="description" content="Hello! I'm Roxanne - a programmer who likes making stuff.">
	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://roxannemango.net/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="RoxanneMango">
	<meta property="og:description" content="Hello! I'm Roxanne - a programmer who likes making stuff.">
    <meta property="og:image" content="https://roxannemango.net/assets/metaTagPicture.jpg">
	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="roxannemango.net">
	<meta property="twitter:url" content="https://roxannemango.net/">
	<meta name="twitter:title" content="RoxanneMango">
	<meta name="twitter:description" content="Hello! I'm Roxanne - a programmer who likes making stuff.">
    <meta name="twitter:image" content="https://roxannemango.net/assets/metaTagPicture.jpg">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="includeHTML.js"></script>
</head>
<body>
	<a id="top"></a>

	<!-- page banner and navigation buttons -->
	<div data-include="header"></div>
	
	<div id="MainContent">
	
	<table width="100%" style="margin-bottom: 1em;">
		<tr>
			<td>
				<h3 style="margin-top: 1em;">Hello world!</h3>			
				<p>
					My name is Roxanne. I'm a programmer who likes making stuff. I once started programming
					in Python and sucked at it. Then I started programming in C and it all made sense.
					Nowadays my Python skills are decent, although C/C++ is still my goto language.
					<br/>
					Some of my favorite projects to work on are OS dev, netcode, and game development. Anything
					C/C++ related will spark joy, really. I like the language's simplicity and ability to 
					interface more closely to the hardware. Inline assembly is also pretty chill.
				</p>
				<p>
					My frontend skills are not the greatest, that is why the site looks like this. It reminds me
					of a terminal. It sparks joy. Below I'll showcase some of the things I have worked on over 
					the years. Projects are mainly written in C/C++, but I try to slip in the occasional
					Python and assembly code.
				</p>
			</td>
		</tr>
	</table>

	<table id="Cards" class="container">
		<colgroup>
			<col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%">
			<col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%">
		</colgroup>
	</table>
	
	<hr style="margin-top: 2em;">
	<br>
	<center><a href="#top">[ Back to top ]</a></center>
	<br>

	</div>
</body>

<script>
	window.onload = buildCards();

	var isEven = true;

	function addCard(ID, title, txt, imagePATH)
	{		
		const container = document.getElementById("Cards");
		const row = document.createElement('tr');
		if(isEven)
		{
			const colpre = document.createElement('td');
			colpre.setAttribute("colspan", 4);
			row.appendChild(colpre);
		}

		const col = document.createElement('td');

		col.setAttribute("colspan", 6);
		col.setAttribute("style", "margin: 0; padding: 0;");
		col.innerHTML += "\
		<a href=\"projects.html#" + ID + "\" class=\"preview_card\"> \
		<div style=\"float:right; margin-top: 0.5em; color: #349beb;\">[ click me ]</div> \
		<h3>" + title + "</h3><hr><p>" + txt + "</p><hr> \
		<img width=\"100%\" height=\"auto\" src=\"" + imagePATH + "\"/><hr></a>";
		
		row.appendChild(col);
		container.appendChild(row);
		
		isEven = isEven ? false : true;
		
	}
	
	function buildCards()
	{
		let inProgress = true;
		let txt = "";

		// addProject(ID, title, txt, imagePATH)
		
		// Frankenpatch
		txt =  "FrankenPatch is a top-down RPG C++ game originally created for the 2022 Cozy Autumn Game Jam on itch.io. The ";
		txt += "game engine is made in conjunction with SFML for I/O handling and rendering. </br> ";
		txt += "Play as a character that gets transported during a thunder storm to a pumpkin field in a ";
		txt += "doctor's backyard where you are assailed by ... zombies?! Uncover the town mystery ";
		txt += "and find your way home, if you can!"
		addCard("FrankenPatch_game", "FrankenPatch C++ Game", txt, "assets/FrankenPatch_ingame.png");

		// Python3 webserver
		txt =  "A python3 webserver with HTML/CSS/JS frontend and MySQL database support. Has an interactive ";
		txt += "console and allows the user to serve over HTTPS with a valid SSL certificate. The webserver code ";
		txt += "is written for Linux but can run on windows as well.";
		addCard("Python3_webserver", "Python3 Webserver", txt, "assets/py3webserverindex.png");

		txt =  "A C webserver with a minimal frontend that allows you to play the game Lingo ";
		txt += "in the browser. The frontend consists of HTML/CSS/Javascript. The webserver code ";
		txt += "is written for Linux.";
		addCard("C_Lingo", "C_Lingo Webserver", txt, "assets/c_lingo_ui.png");

		// Black JaC++
		txt  = "A C++ webserver with a database and minimal frontend that allows you to play the game Blackjack ";
		txt += "in the browser. The frontend consists of HTML/CSS/Javascript. The webserver code ";
		txt += "is cross-platform: It works for both Windows and Linux.";
		addCard("BlackJaC++", "BlackJaC++ Webserver", txt, "assets/blackjack_pp_ui.png");

		// adkit
		txt  = "A cross-platform development toolchain (Windows and Linux) for the Arduino Due for lower level ";
		txt += "development than the standard Arduino IDE allows. Contains the gcc C/C++ cross-compiler; the ";
		txt += "flashing tool Bossac; and several C/C++/ASM examples.";
		addCard("adkit", "Adkit Arduino due Toolchain", txt, "assets/adkit_makefile.png");

		// J_S_R_ogue
		txt  = "A rogue-like dungeon crawler written in obfuscated C. Written with two others. Collect coins and ";
		txt += "evade enemies as you go down the 100 procedurally generated cave levels. Originally made for ";
		txt += "the International Obfuscated C Code Contest (IOCCC).";
		addCard("J_S_R_ogue", "J_S_R_ogue", txt, "assets/J_S_R_ogue.png");

//		addCard("", "", txt, "assets/");
	}
</script>


</html>