<!DOCTYPE html>
<html lang="en-US">
	<header>
		<link rel="stylesheet" href="style.css">
	</header>

	<h3>ITerrorist</h3>
	<hr/>
	<p>
		A C++ SFML game.
	</p>
	<img src="assets/ITerroristPicture.png" style="width: 30em; height: auto; float:right; padding: 0.5em;"/>
	<img src="assets/ITerroristPictureDIPs.png" style="width: 30em; height: auto; float:left; padding: 0.5em;"/>
	<img src="assets/ITerroristPictureSPIBUS.png" style="width: 30em; height: auto; float:right; padding: 0.5em;"/>

<!--	<pre class="code"><code class="code"></code></pre> -->
</html>
