<!DOCTYPE HTML>
<head>
	<title>RoxanneMango</title>
	<link rel="stylesheet" href="style.css">
	
	<meta content="width=device-width, initial-scale=1" name="viewport" />	

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="includeHTML.js"></script>
</head>
<body>
	<a id="top"></a>

	<!-- page banner and navigation buttons -->
	<div data-include="header"></div>
	
	<div id="MainContent">
	
	<table width="100%">
		<tr>
			<td>
				<h3 style="margin:1em 0 0 0;">My misc projects:</h3>
				<ul id="Misc ProjectsList">
					<li>
						<a href="">None posted yet!</a>
					</li>
				</ul>
			</td>
		</tr>
	</table>

	<table class="container divider">
		<!-- x -->
		<tr>
			<td>
				<a id=""></a>
<!--				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a> -->
				<div data-include=""></div>
			</td>
		</tr>
	</table>
	
	<center><a href="#top">[ Back to top ]</a></center>
	
	</div>
	
</body>
</html>