<!DOCTYPE HTML>
<head>
	<title>RoxanneMango</title>
	<link rel="stylesheet" href="style.css">	
	<link rel="shortcut icon" type="image/x-icon" href="assets/pumpkin.ico">
	<meta content="width=device-width, initial-scale=1" name="viewport" />	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="includeHTML.js"></script>
</head>
<body>
	<a id="top"></a>

	<!-- page banner and navigation buttons -->
	<div data-include="header"></div>
	
	<div id="MainContent">
	
	<table width="100%">
		<tr>
			<td>
				<h3 style="margin:1em 0 0 0;">My projects:</h3>
				<ul id="ProjectsList">	
				</ul>
			</td>
		</tr>
	</table>

	<table id="Projects" class="container divider">
	</table>

	<br>
	<center><a href="#top">[ Back to top ]</a></center>
	<br>

	</div>
	
</body>

<script>
	window.onload = buildProjects();

	function addProject(ID, page, title, description, isInProgress = false)
	{
		const col = document.createElement('td');		
		col.innerHTML += "<a id=" + ID + "></a>";
		col.innerHTML += "<a href=\"#top\" style=\"float:right; margin-top: 0.5em;\">[ Back to top ]</a>";
		if(isInProgress)
		{
			col.innerHTML += "<div style=\"color:yellow; float:right; font-size:1em; margin: 0.5em 1em;\">[ On-going ]</div>";
		}
		col.innerHTML += "<div data-include=" + page + "></div>";
				
		const row = document.createElement('tr');
		row.appendChild(col);

		let projects = document.getElementById("Projects");
		projects.innerHTML += "<!-- " + description + " -->";
		projects.appendChild(row);

		const li = document.createElement('li');
		li.innerHTML += "<a href=\"#" + ID + "\">" + title + "</a>";

		let projectsList = document.getElementById("ProjectsList");
		projectsList.appendChild(li);
	}
	
	function buildProjects()
	{
		let inProgress = true;
		// ID, data-include, title, comment desc, inProgress=false
		addProject("FrankenPatch_game", "FrankenPatch", "FrankenPatch C++ Game", "FrankenPatch Game", inProgress);
		addProject("Python3_webserver", "Python3WebServer", "Python3 Web Server", "Python3 webserver");
		addProject("BlackJaC++", "blackjacpp", "BlackJaC++ Web Server", "BlackJaC++ webserver");
		addProject("C_Lingo", "C_Lingo", "C_Lingo Web Server", "C_Lingo webserver");
		addProject("adkit", "adkit", "Adkit Arduino Due Toolchain", "adkit arduino due toolchain");
		addProject("J_S_R_ogue", "J_S_R_ogue", "J_S_R_ogue IOCCC game", "J_S_R_ogue IOCCC game");
		addProject("RISC_V_Linux_port", "RISC_V_LinuxPort", "RISC-V Linux Port", "RISC-v Linux Port");
		addProject("Breadboard_prototyping", "Breadboard_Prototyping", "Breadboard Prototypes", "Breadboard Prototype");
		addProject("ITerrorist_game", "ITerroristGame", "ITerrorist C++ Game", "ITerrorist C++ Game");
	}
</script>

</html>