<!DOCTYPE HTML>
<head>
	<title>RoxanneMango</title>
	<link rel="stylesheet" href="style.css">	
	<link rel="shortcut icon" type="image/x-icon" href="assets/pumpkin.ico">
	<meta content="width=device-width, initial-scale=1" name="viewport" />	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="includeHTML.js"></script>
</head>
<body>
	<a id="top"></a>

	<!-- page banner and navigation buttons -->
	<div data-include="header"></div>
	
	<div id="MainContent">
	
	<table width="100%">
		<tr>
			<td>
				<h3 style="margin:1em 0 0 0;">My projects:</h3>
				<ul id="ProjectsList">
					<li>
						<a href="#FrankenPatch_game">FrankenPatch C++ Game</a>
					</li>
					<li>
						<a href="#C_Lingo">C_Lingo Webserver</a>
					</li>
					<li>
						<a href="#BlackJaC++">BlackJaC++ Webserver</a>
					</li>
					<li>
						<a href="#Python3_webserver">Python3 Webserver</a>
					</li>
					<li>
						<a href="#adkit">adkit Arduino Due Toolchain</a>
					</li>					
					<li>
						<a href="#J_S_R_ogue">J_S_R_ogue Obfuscated C Game</a>
					</li>
				</ul>
			</td>
		</tr>
	</table>

	<table class="container divider">
		<!-- Frankenpatch game -->
		<tr>
			<td>
				<a id="FrankenPatch_game"></a>
				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a>
				
				<div data-include="FrankenPatch"></div>
			</td>
		</tr>
		<!-- C_Lingo webserver -->
		<tr>
			<td>
				<a id="C_Lingo"></a>
				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a>
				
				<div data-include="C_Lingo"></div>
			</td>
		</tr>
		<!-- BlackJaC++ webserver -->
		<tr>
			<td>
				<a id="BlackJaC++"></a>
				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a>
				
				<div data-include="blackjacpp"></div>
			</td>
		</tr>
		<!-- Python3 webserver -->
		<tr>
			<td>
				<a id="Python3_webserver"></a>
				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a>

				<div data-include="Python3WebServer"></div>
			</td>
		</tr>
		<!-- adkit arduino due toolchain -->		
		<tr>	
			<td>
				<a id="adkit"></a>
				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a>

				<div data-include="adkit"></div>
			</td>
		</tr>
		<!-- J_S_R_ogue IOCCC game -->		
		<tr>
			<td>
				<a id="J_S_R_ogue"></a>
				<a href="#top" style="float:right; margin-top: 0.5em;">[ Back to top ]</a>

				<div data-include="J_S_R_ogue"></div>
			</td>
		</tr>

	</table>

	<br>
	<center><a href="#top">[ Back to top ]</a></center>
	<br>

	</div>
	
</body>
</html>